import("methods")
import("Category")

importMethodsFrom("Biobase", "annotation", "description")

export(combGOGraph, compCorrGraph, compGdist,
       dropECode, enumPairs, 
       getGOChildren, getGOOntology, getGOParents,
       .getWHEC,
       GOGraph, GOLeaves,
       hasGOannote, idx2dimnames, isTriad,
       makeGOGraph, notConn, oneGOGraph,
       reduce2Degreek, shortestPath, simLL,
       simLP, simUI, triadCensus,
       hyperGtable, hyperG2Affy,
       GOHG, GOHyperG)

exportClasses("GOHyperGResult")
exportMethods("hyperGTest", "getGoGraph",
              "pvalues",
              "isConditional",
              "description",
              "oddsRatios",
              "expectedCounts",
              "goDag",
              "geneCounts",
              "universeCounts",
              "geneIds",
              "geneIdUniverse",
              "condGeneIdUniverse",
              "universeMappedCount",
              "geneMappedCount",
              "annotation",
              "testName",
              "summary",
              "htmlReport")
