
export(combGOGraph, compCorrGraph, compGdist, dropECode, enumPairs, getEvidence, getGOChildren, getGOOntology, getGOParents, getGOTerm, getOntology, .getWHEC, GOGraph, GOHyperG, GOLeaves, hasGOannote, idx2dimnames, isTriad, makeGOGraph, notConn, oneGOGraph, reduce2Degreek, shortestPath, simLL, simLP, simUI, triadCensus,
       GOKEGGHyperG)
