import("methods")
import("Category")

importMethodsFrom("Biobase", "annotation", "description")

export(combGOGraph, compCorrGraph, compGdist,
       enumPairs, 
       .getWHEC,
       GOGraph, GOLeaves,
       idx2dimnames, isTriad,
       makeGOGraph, notConn, oneGOGraph,
       reduce2Degreek, shortestPath, simLL,
       simLP, simUI, triadCensus,
       hyperGtable, hyperG2Affy,
       GOHyperG,
       probeSetSummary)

exportClasses("GOHyperGResult")
exportMethods("hyperGTest", "getGoGraph",
              "pvalues",
              "isConditional",
              "description",
              "oddsRatios",
              "expectedCounts",
              "htmlReport",
              "goDag",
              "geneCounts",
              "universeCounts",
              "geneIds",
              "geneIdUniverse",
              "condGeneIdUniverse",
              "universeMappedCount",
              "geneMappedCount",
              "annotation",
              "testName",
              "summary")

export(plotTermGraphs, selectedGenes, sigCategories)
